@color_default: rgb(63,81,181);
@color_content: #eee;
@color_white: #fff;
@color_sidenav: #737373;
@color_shadow: #999;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @color_default;
}

.glyphicon-thumbs-up {
  margin-right: 5px;
}

.glyphicon-thumbs-up:hover {
  cursor: hand;
}

.glyphicon-thumbs-down:hover {
  cursor: hand;
}
    
md-content.md-default-theme {
  background-color: @color_content;
}

md-card {
  background-color: @color_white;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: @color_white;
}

md-sidenav {
  fill: @color_sidenav;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

ng-md-icon {
  fill: @color_default;
}

md-sidenav ng-md-icon {
  top: 0px;
}

md-sidenav a:hover, md-sidenav a:focus{
  text-decoration: none;
}

.commentAmount{
  font-size: 60%;
}

.slider{
	position: relative;
	padding:5px;
	width: auto;
	margin: auto;
	margin-top: 40px;
}

.slide{
	position:absolute;
	box-shadow: 0px 0px 15px @color_shadow;
}

.arrows{
	position: absolute;
	top: 10px;
	right: 20px;
}

.arrows img{
	height: 32px;
}
