<div layout-padding>
	<div class="page-header">
		<h3>
        <a href={{post.link}} ng-show="post.link">{{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
      </h3>
	</div>
	<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
        <ng-md-icon icon="thumb_up" ng-click="incrementUpvotes(comment)"></ng-md-icon> {{comment.upvotes}} <ng-md-icon icon="thumb_down" ng-click="decreaseUpvotes(comment)"></ng-md-icon> - by {{comment.author}}
		<span style="font-size:20px; margin-top: 10px;">
        {{comment.body}}
    </span>
	</div>

	<form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top: 30px;">
		<h3>Add a new Comment</h3>
		<div class="form-group">
			<md-content layout="row" layout-sm="column">
				<md-input-container flex>
					<label>Comment</label>
					<input class="form-control" ng-model="body" placeholder="Comment" type="text" />
				</md-input-container>
			</md-content>
		</div>
		<md-content layout="row" layout-sm="column">
			<md-button class="md-raised md-primary" type="submit">Add</md-button>
			<md-button class="md-raised md-primary" ng-href="#/home.html">Back to home</md-button>
		</md-content>
	</form>
	<div ng-hide="isLoggedIn()">
		<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
	</div>
</div>