<div class="page-header">
	<h1>Posts</h1>
</div>

<div ng-repeat="post in posts | orderBy: '-upvotes'" style="margin-bottom: 10px;">
    <ng-md-icon icon="thumb_up" ng-click="incrementUpvotes(post)"></ng-md-icon> {{post.upvotes}} <ng-md-icon icon="thumb_down" ng-click="decreaseUpvotes(post)"></ng-md-icon>

	<span style="margin-left: 10px; font-size: 20px;">
        <span ng-show="post.author">
          posted by {{post.author}} |
        </span>
		<a ng-href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
		<span ng-hide="post.link">{{post.title}}</span>
		<div class="commentAmount">
			<span ng-show="post.comments.length == 1"><a ng-href="/#/posts/{{post._id}}">{{post.comments.length}} comment</a></span>
			<span ng-show="post.comments.length != 1"><a ng-href="/#/posts/{{post._id}}">{{post.comments.length}} comments</a></span>
		</div>
	</span>
</div>

<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:10px;">
	<md-input-container>
		<label>Title</label>
		<input class="form-control" placeholder="Title" type="text" ng-model="title">
	</md-input-container>
	<md-input-container>
		<label>Link</label>
		<input class="form-control" placeholder="Link" type="text" ng-model="link">
	</md-input-container>
	<md-button type="submit" class="md-raised md-primary">Post comment</md-button>
</form>
<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>