<div ng-show="error" class="alert alert-danger row">
	<span>{{ error.message }}</span>
</div>

<form ng-submit="register()" style="margin-top:30px;" layout-padding>
	<h3>Register</h3>
	<div class="form-group">
		<md-content layout="row" layout-sm="column">
			<md-input-container flex>
				<label>Username</label>
				<input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
			</md-input-container>
			<md-input-container flex>
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
			</md-input-container>
		</md-content>
	</div>
	<md-button type="submit" class="md-raised md-primary">Register</button>
</form>