<html>

<head>
    <title>FlapperNews</title>
    
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/styles.css">
    <!-- endinject -->
    <!-- endbuild -->
    
    <meta name="viewport" content="initial-scale=1" />
</head>

<body ng-app="flapperNews" layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <a ng-href="#/home"><h1>Flapper news</h1></a>
        </div>
    </md-toolbar>
    <div layout="row" flex ng-controller="NavCtrl">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <!-- for tall toolbar -->
            <!--<md-toolbar class="md-tall md-hue-2">-->
            <md-toolbar class="md-hue-2">
                <!--<span flex></span>-->
                <div layout="column" class="md-toolbar-tools-bottom inset" ng-show="isLoggedIn()">
                    <!-- TODO: avatar? -->
                    <!-- <user-avatar></user-avatar>
          <span></span>-->
                    <div>{{ currentUser() }}</div>
                    <div>email@domainname.com</div>
                </div>
                <div layout="column" class="md-toolbar-tools-bottom inset" ng-hide="isLoggedIn()">
                    <!-- TODO: avatar? -->
                    <!-- <user-avatar></user-avatar>
          <span></span>-->
                    <div>Welcome to FlapperNews</div>
                    <div>Please register or log in</div>
                </div>
            </md-toolbar>
            <md-content>
                <md-item role="listitem">
                    <a ng-href="/#/home">
                        <md-item-content md-ink-ripple layout="row">
                            <!-- TODO: Add icons -->
                            <div class="inset">
                                <ng-md-icon icon="home"></ng-md-icon>
                            </div>
                            <div class="inset">Home</div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-content>
            <md-content>
                <md-item ng-hide="isLoggedIn()" role="listitem">
                    <a ng-href="/#/login">
                        <md-item-content md-ink-ripple layout="row">
                            <!-- TODO: Add icons -->
                            <div class="inset">
                                <ng-md-icon icon="login"></ng-md-icon>
                            </div>
                            <div class="inset">Log In</div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-content>
            <md-content>
                <md-item ng-show="isLoggedIn()">
                    <a ng-href="#" ng-click="logOut()">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <!-- TODO: Add icons -->
                            <div class="inset">
                                <ng-md-icon icon="logout"></ng-md-icon>
                            </div>
                            <div class="inset">Log Out</div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-content>
            <md-content>
                <md-item ng-hide="isLoggedIn()">
                    <a ng-href="/#/register">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <!-- TODO: Add icons -->
                            <div class="inset">
                                <ng-md-icon icon="person_add"></ng-md-icon>
                            </div>
                            <div class="inset">Register</div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-content>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <div ng-controller="SliderController">
                    <h1>Slider Using AngularJS</h1>
                    <slider images="images" />
                </div>
                <div id="ui-view" flex ui-view>

                </div>
            </md-content>
        </div>
    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/src/client/app/app.module.js"></script>
    <script src="/src/client/app/app.config.js"></script>
    <script src="/src/client/app/authentication/auth.controller.js"></script>
    <script src="/src/client/app/authentication/authFactory.js"></script>
    <script src="/src/client/app/components/slider.directive.js"></script>
    <script src="/src/client/app/home/home.controller.js"></script>
    <script src="/src/client/app/layout/app.controller.js"></script>
    <script src="/src/client/app/layout/nav.controller.js"></script>
    <script src="/src/client/app/layout/slider.controller.js"></script>
    <script src="/src/client/app/posts/postFactory.js"></script>
    <script src="/src/client/app/posts/posts.controller.js"></script>
    <!-- endinject -->

    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>